.full-screen{
    width: 100%;
    height: 100%;
}
.full-screen1{
}
.lol{
    color: blueviolet;
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}